#nav{
    display: flex;
    justify-content: space-between;
}
.nav_bar .nav ul li{
    list-style: none;
    display: inline;
    padding: 40px;
}
.nav_bar .nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.images{
    display: flex;
    justify-content: right;
     top: 15px;
}
#street{
    color: #6cb840;
}
#food{
    color: #EAAB1B;
}
button{
    color: white;
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    background-color:#6CB840;
    text-align: center;
    font-weight: bold;
}
body{
    font-family: "lato extended", lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.intro {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 150px;
}
#menu{
    color: #6cb840;
    text-align: center;
}
.explore menu{
    background-color: #EAF3E4;
    padding:20px;
}
.eat .eating span{
    color: #EAAB1B;
}.eat {
    margin-left: 80px;
    margin-bottom: 80px;
}
.deals{
    background-color: #6cb840;
    padding: 10px 200px;
}
.deals h2{
    text-align: center;
    padding-top: 40px;
}
.deals h2 span{
    color: #81dd4b;
}
#article {
    display: flex;
}
.hot {
    position: relative;
    margin-right: 30px;
}
#pizz{
    position: absolute;
    left: 140px;
    top: 310px;
    width: 80%;
}
.combo{
    padding:120px 200px;
    margin-left: 30px;
}
.combo p{
    text-align: center;
}
/*.item1{
    background-color:rgb(7, 199, 0);
    border-radius: 0px 0px 50px 0px;
    text-align: center;
    padding: 20px;
    margin: 40px;
  
    
}
.item-content{
    display: flex;
}
.item-content img {
    transform: translate(-100px, 10px);
    display: flex;
   justify-content: right;
}
#items {
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-between;
    padding: 12px 20px;
}*/
.row {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.row1 {
    display: flex;
   justify-content: space-between;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
.table{
    background-color: #C9ECB5;
}
.contact{
    background-color: #FFF5DD;
    padding: 20px;
    text-align: center;
}
input [type=email] {
      border-radius: 20px;
      padding-left: 20px;
      padding: 20px 20px;
}


.footerrow1{
width: 400px;
}


.insta{
    padding-left: 800px;
    padding-bottom: 40px;
    margin-top: -110px;
    display: flex;
    justify-content: right;
    
}
.logo{
    top: -10px;
    display: flex;
    justify-content: safe;
}
.footer{
    display: flex;
    background-color: #C9ECB5;
    margin-top: 20px;
    margin-left: 100px;
    padding: 20px;
}
.footerrows{
    width: 300px;
    border-right: 20px dotted #6BB946;
}
.item2{
    display: flex;
    justify-content: right;
}
#me .following{
    display:flex;
    justify-content: right;

}

.me{
    display: flex;
     justify-content: space-evenly;
}
span{
    color: #6BB946;
}
.footerrows1{
    width: 500px;
}
