#nav{
    display: flex;
    justify-content: space-between;
}
.nav_bar .nav ul li{
    list-style: none;
    display: inline;
    padding: 40px;
}
.nav_bar .nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

#street{
    color: #6cb840;
}
#food{
    color: #EAAB1B;
}
button{
    color: white;
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    background-color: #6cb840;
    text-align: center;
    font-weight: bold;
}
body{
    font-family: "lato extended", lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.intro {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 150px;
}
#menu{
    color: #6cb840;
    text-align: center;
}
.explore menu{
    background-color: #EAF3E4;
    padding:20px;
}
.eat .eating span{
    color: #EAAB1B;
}.eat {
    margin-left: 80px;
    margin-bottom: 80px;
}
